.nav_bar  {
	float:left;
    width: 20%;
}

.nav_bar a {
    background-color: #eee;
    color: blue;
    display: block;
    padding: 6px;
    text-decoration: none;
}

.nav_bar a:hover {
    background-color: #ccc;
}

.nav_bar a.active {
    background-color: #4CAF50;
    color: white;
}

.target{
	float: right;
	width:65%;
}