.nav_bar  {
    width: 200px;
}

.nav_bar a {
    background-color: #eee;
    color: blue;
    display: block;
    padding: 6px;
    text-decoration: none;
}

.nav_bar a:hover {
    background-color: #ccc;
}

.nav_bar a.active {
    background-color: #4CAF50;
    color: white;
}